@media (min-width: 1025px) and (max-width: 1600px) {
  html {
    font-size: 93.75%;
  }
  .header {
    white-space: nowrap;
    padding: 3rem 5rem;
  }
  .nav__items {
    gap: 3rem;
  }
  .left__heading {
    width: 80%;
  }
  .left__paragraph {
    width: 96%;
  }
  .main,
  .footer {
    padding: 1.5rem 5rem;
  }

  .services__paragraph {
    width: 60%;
  }

  .content__section {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
  .navbar {
    display: block;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    z-index: 500;
    transition: transform 0.3s ease;
  }

  .nav__items {
    align-items: flex-start;
    gap: 30px;
    padding: 3rem;
    flex-direction: column;
  }

  .header__menu,
  .close__menu {
    display: block;
  }
  label {
    display: block;
  }

  .hero__section {
    flex-direction: column-reverse;
  }
  .left__heading {
    width: 100%;
  }

  .company__images {
    transform: translateY(-7rem);
  }

  .brand__images {
    height: 25px;
  }

  .services__paragraph {
    width: 100%;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .study__paragraph {
    width: 100%;
  }
  .content__section {
    padding: 2.5rem 3rem;
    flex-direction: column;
  }
  .content__leftsection {
    order: 1;
    padding: 1rem 0;
  }

  .content__paragraph {
    width: 100%;
    text-align: justify;
  }

  .learn__section {
    padding: 2rem;
  }

  .learn__card {
    width: 100%;
    box-shadow: none;
    padding: 20px 0;
  }

  .card__paragraph {
    text-align: justify;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card__image {
    width: 240px;
    top: 3.5rem;
  }
  .learn__card {
    padding-right: 1rem;
  }
}

@media (min-width: 375px) and (max-width: 426px) {
  html {
    font-size: 75%;
  }

  .company__images {
    transform: translateY(2rem);
    justify-content: space-evenly;
  }

  .services__section {
    padding-top: 23rem;
  }

  .content__image {
    height: 40vh;
  }

  .card__image {
    max-width: 200px;
    top: 5rem;
  }
}
