@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Space Grotesk";
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --green: #b9ff66;
}
/* ------------HEADER--------------------- */
.header {
  height: 70px;
  width: 100%;
  padding: min(2.5rem, 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: clamp(1rem, 1vw + 0.1rem, 1.5rem);
}
.header__icon {
  margin-right: 10px;
  transform: rotate(45deg);
  display: inline-block;
  font-weight: bolder;
}
.navbar {
  position: relative;
}
.nav__items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.nav__link {
  font-size: clamp(1rem, 1vw + 0.1rem, 1.5rem);
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.nav__link:hover {
  text-decoration: underline;
}
.header__menu {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  font-weight: 600;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.btn {
  padding: 12px 20px;
  cursor: pointer;
}
.btn--white {
  border: 2px solid;
  border-radius: 10px;
  background: transparent;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.btn--white:hover {
  background-color: var(--black);
  color: var(--white);
}
.close__btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  display: none;
}
/* ------------HERO--------------------- */
.main {
  width: 100%;
  padding: min(2.5rem, 5%);
}

.hero__section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__leftsection {
  margin-top: 20px;
}

.left__heading {
  font-size: clamp(2rem, 1vw + 1.5rem, 3rem);
  font-weight: 600;
  width: 70%;
}
.left__paragraph {
  width: 70%;
  margin-top: 20px;
  font-size: clamp(1rem, 1vw + 0.3rem, 2rem);
  font-weight: 500;
  line-height: 1.5;
}
.btn--secondary {
  padding: 17px 32px;
  border: 2px solid;
  background-color: var(--black);
  color: var(--white);
  font-size: clamp(1rem, 1vw + 0.1rem, 1.5rem);
  border-radius: 14px;
  cursor: pointer;
  margin-top: 45px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn--secondary::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}
.btn--secondary:hover::after {
  left: 0;
  border-radius: 0;
  z-index: -1;
}
.btn--secondary:hover {
  color: var(--black);
}

.hero__rightsection {
  user-select: none;
  pointer-events: none;
}

.company__images {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  position: absolute;
  bottom: -15%;
}
.brand__images {
  height: 40px;
  user-select: none;
  pointer-events: none;
}
/* ------------SERVICES--------------------- */
.services__section {
  margin-top: 125px;
  padding: 0 10px;
}
.services__heading {
  font-size: clamp(2rem, 1vw + 1.3rem, 2.5rem);
  font-weight: 600;
  background-color: var(--green);
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
}
.services__paragraph {
  font-size: clamp(1rem, 1vw + 0.35rem, 1.5rem);
  width: 50%;
  font-weight: 500;
  margin-top: 25px;
}
.cards {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  margin-top: 60px;
}
.each__card {
  height: 300px;
  border: 3px solid;
  border-radius: 40px;
  box-shadow: 0 10px 0 #000;
  padding: clamp(20px, 1.5vw + 10px, 30px);
  position: relative;
}
.first__heading,
.second__heading {
  background-color: var(--green);
  width: fit-content;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: clamp(1.2rem, 1vw + 0.7rem, 2rem);
}
.each__card:nth-child(2),
.each__card:nth-child(3) {
  background-color: var(--black);
  color: var(--white);
  box-shadow: none;
  height: 310px;
}
.each__card:nth-child(2) h1,
.each__card:nth-child(3) h1 {
  background-color: var(--white) !important;
  color: var(--black);
}
.inner__heading {
  position: absolute;
  bottom: 35px;
}
.card__icon {
  background-color: var(--black);
  color: var(--white);
  padding: 7px;
  border-radius: 50%;
  margin-right: 15px;
  display: inline-block;
  transform: rotate(20deg);
  font-size: clamp(1rem, 1vw + 0.3rem, 1.5rem);
}
.each__card:nth-child(2) i,
.each__card:nth-child(3) i {
  background-color: var(--white);
  color: var(--black);
}
.card__image {
  width: 240px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}
.content__section {
  width: 100%;
  padding: 40px 70px;
  background-color: #f0f0f0;
  border-radius: 25px;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__heading {
  font-size: clamp(1rem, 1vw + 1.7rem, 3rem);
  font-weight: 600;
}

.content__paragraph {
  font-size: clamp(1rem, 1vw + 0.2rem, 1.5rem);
  line-height: 1.8;
  margin-top: 15px;
  width: 70%;
  font-weight: 500;
}

.content__image {
  max-width: 50%;
  height: auto;
}
/* ------------FOOTER--------------------- */
.footer {
  width: 100%;
  padding: min(3rem, 8%);
  margin: 100px 0;
}

.study__heading {
  background-color: var(--green);
  width: fit-content;
  border-radius: 5px;
  padding: 0 5px;
  font-size: clamp(2rem, 1vw + 1.3rem, 2.5rem);
}
.study__paragraph {
  font-size: clamp(1rem, 1vw + 0.35rem, 1.5rem);
  width: 50%;
  margin-top: 25px;
  font-weight: 500;
}
.learn__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 86px 54px;
  width: 100%;
  background-color: var(--black);
  border-radius: 40px;
  margin-top: 70px;
}
.learn__card {
  box-shadow: 2px 0 0 var(--white);
  padding: 0 25px;
  margin-left: 15px;
}
.card__paragraph {
  color: var(--white);
  width: 92%;
  font-size: clamp(1rem, 1vw + 0.2rem, 2rem);
  margin-bottom: 3vw;
}
.learn__card:nth-child(3) {
  box-shadow: none;
}
.card__link {
  color: var(--green);
  font-size: clamp(1rem, 1vw + 0.2rem, 2rem);
  text-decoration: none;
}
.card__link:hover {
  text-decoration: underline;
}
.arrow__icon {
  font-size: clamp(1.5rem, 1vw + 0.4rem, 2.5rem);
  display: inline-block;
  transform: rotate(10deg);
}
